@charset "UTF-8";

* {
   box-sizing: border-box;
}

body {
   letter-spacing: 0;
   line-height: 0;
   line-height: 1.5;
   font-size: 15px;
   color: #444;
   font-weight: 400;
   font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}

div {
   display: block;
}

#poster {
   width: 230px;
   height: 331px;
   position: absolute;
}

#contents {
   width: 1100px;
   margin: 0 auto;
}

li {
   display: block;
   list-style-type: none;
   float: left;
}

.movie-list ol li {
   display: block;
   list-style-type: none;
   float: left;
   margin-left: 37px;
   overflow: hidden;
   position: relative;
   float: left;
   width: 230px;
   height: 450px;
   padding: 0;
}
/*    .tab-list{
      position: static;
      width: 100%;
      background-color: rgba(255,255,255);
   }
   .tab-list>ul {
   position: relative;
   width: 100%;
   height: 42px;
   } */
ol, ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul {
   display: block;
}

button {
   display: block;
   width: 100%;
   margin: 0;
   padding: 0;
   height: 40px;
   background-color: transparent;
   color: #666;
}

#tabs {
   position: relative;
   display: inline-grid;
}

#filmgrade {
   width: 23px;
   height: 23px;
   position: absolute;
}

.tit {
   overflow: hidden;
   display: block;
   width: 100%;
   white-space: nowrap;
   padding-left: 30px;
   margin-bottom: 0px;
   font-size: inherit;
}

#movie-tab {
   width: 50%;
   text-align: center;
   margin: auto;
   line-height: 40px;
   padding: 0;
   font-size: 1.0667em;
}

.hover1 {
   width: 100%;
   height: 100%;
   padding: 20px;
   background-color: black;
   position: relative;
   display: block;

   /* display: none; */
}

.summary {
   overflow: hidden;
   height: 200px;
   color: white;
   margin-top: 0px;
   border-top-width: 12px;
}

.movie-detail {
   width: 230px;
   height: 331px;
   opacity: 0;
}

a:link {
   color: black;
   text-decoration: none;
}

a:visited {
   color: black;
   text-decoration: none;
}

a:hover {
   color: blue;
   text-decoration: none;
}
.btn{border: none; cursor: pointer;}
#boxoffice{background-color: beige; border: ridge;}

.reserve{
   width: 70px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}
.reserve-part{
   position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}