@charset "UTF-8";
.detail_inquiry {
	position: relative;
	padding-top: 30px;
	
}
.detail_inquiry {
	width: 1100px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.detail_inquiry table{
	width: 1100px;
	display: table;
	text-indent: initial;
	border-collapse: collapse;
	margin: 0 auto;
	    text-align: center;
}
.detail_inquiry tr{
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.detail_inquiry td{
	border-bottom: #BBBBBB;
	border-top: 1px solid #BBBBBB;
	font-weight: bold;
	padding: 18px;
	line-height: 1.3;
}
.detail_inquiry tbody{
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
#detail_inquiry_info{
	background: #F8F8F8;
	padding-left: 61px;
	font-size: 20px;
}
#detail_inquiry_contants{
	height: 550px;
	font-size: 18px;
}
.detail_inquiry_button{
	text-align: center;
}
.detail_inquiry_button button{
		display: inline-block;
	    box-sizing: border-box;
	    border-radius: 4px;
	    border: 1px solid #414141;
	    font-size: 14px;
	    color: #ffffff !important;
	    text-align: center;
	    vertical-align: middle;
	    background-color: #414141;
	    height: 45px;
	    line-height: 43px;
	    padding: 0 18px;
	    min-width: 160px;
	    cursor: pointer;
}
#btn_modify, #btn_delete{
	background-color: #414141;
    color: white;
    width: 53px;
    height: 28px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}
#detail_inquiry_tit{
	font-size: 30px;
}
#acontents{
	width: 100%;
	resize: none;
	height: 60px;
	border-radius: 8px;
}
#enter{
	background-color: #414141;
    color: white;
    border-radius: 4px;
    width: 79px;
    height: 40px;
}
