@charset "UTF-8";

table {
	width: 1100px;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	display: table;
	box-sizing: border-box;
	text-indent: initial;
	margin: 0 auto;
    min-height: 550px;
}

 thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

 tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
 tr th {
	border-bottom-color: #BBBBBB;
	font-weight: bold;
	display: table-cell;
	vertical-align: inherit;
}

 th, td {
	position: relative;
	border-bottom: 1px solid #EEEEEE;
	padding: 15px 0;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
}

tbody {
	text-align: center;
}

.hide {
	display: none;
}

.item td {
	cursor: pointer;
}

.show {
	display: table-row;
	background-color: #F8F8F8;
}
.recruit tr{
	font-weight: bold;
}