<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="kr.co.jhta.cinema.customer">
  	
  	<!-- 로그인 -->
  	<select id="loginCheck" parameterType="cdto" resultType="cdto">
		SELECT * FROM customer 
		WHERE id = #{id} AND pwd = #{pwd}
	</select>
	
	<!-- 회원등록 -->
	<insert id="insertCustomer" parameterType="cdto">
		INSERT INTO customer (customerno, id, pwd)
		VALUES (cusno_seq.nextval, #{id}, #{pwd})
	</insert>
	<insert id="insertCustomerDetail" parameterType="cdto">
		INSERT INTO customer_detail (customerno, name, birth, hp, email, addres, addresdetail, customerregdate)
		VALUES (cusdeno_seq.nextval, #{name}, #{birth}, #{hp}, #{email}, #{addres}, #{addresdetail}, #{customerregdate, jdbcType=VARCHAR})
	</insert>
	
	<!-- 아이디 중복 체크 -->
	<select id="idDupCheck" parameterType="cdto" resultType="int">
		SELECT COUNT(*) FROM customer
		WHERE id = #{id}
	</select>
	
	<!-- 회원정보 열람 -->
	<!-- 
	<select id="selectInfo" parameterType="cdto" resultType="cdto">
		SELECT * FROM customer_detail
		WHERE customerno = (SELECT customerno FROM customer WHERE id = #{id})	
	</select>
    <select id="selectInfoCustomer" parameterType="cdto" resultType="cdto">
        SELECT customerno as no FROM customer WHERE id = #{id}
    </select>
    --> 
    
    <!-- 회원정보 열람 -->
	<select id="selectInfo" parameterType="String" resultType="cdto">
		SELECT cs.name, cs.birth, cs.hp, cs.email, cs.addres, cs.addresdetail, cs.customerregdate,c.customerno, c.id, c.pwd, c.point
		FROM customer_detail cs, customer c
		WHERE cs.customerno = c.customerno
		AND c.id = #{id}
	</select>
	
	<!-- 회원정보 수정 -->
	<!-- 
	<update id="updateCustomer">
		UPDATE customer
		SET pwd = #{pwd}
		WHERE id = #{id} 
	</update>
	<update id="updateCustomerDetail">
	</update>
	-->
	
  </mapper>