<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.jhta.cinema.home">
  	<select id="selectHomeBox" resultType="mdto">
  		SELECT poster FROM 
  			(SELECT poster FROM movie 
			ORDER BY mregdate DESC)
		WHERE ROWNUM &lt;= 4
  	</select>  	
  </mapper>